<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sertifikat</ion-title>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button routerLink="/certificate-templates">
        <ion-icon slot="icon-only" name="albums-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let certificate of certificates">
      <ion-label>
        <h2>{{ certificate.event?.title || 'Event Tidak Dikenal' }}</h2>
        <p>Diterbitkan: {{ certificate.issued_at | date:'dd MMMM yyyy' }}</p>
        <p>Kode Verifikasi: {{ certificate.verification_code }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="downloadCertificate(certificate.id)" color="primary">
          <ion-icon slot="icon-only" name="download-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="verifyCertificate(certificate.id)" color="success">
          <ion-icon slot="icon-only" name="shield-checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loading && certificates.length === 0">
    <ion-item>
      <ion-label class="ion-text-center">
        <p>Belum ada sertifikat yang diterbitkan.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" class="ion-margin-top ion-text-center"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isAdmin">
    <ion-fab-button routerLink="/create-certificate">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 