<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Certificates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let certificate of certificates">
      <ion-label>
        <h2>{{ certificate.event_name }}</h2>
        <p>Issued: {{ certificate.issued_date | date }}</p>
      </ion-label>
      <ion-button slot="end" (click)="verifyCertificate(certificate.id)">
        Verify
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-certificate">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 