:host {
  --ion-background-color: #ffffff;
  --ion-text-color: #1a1a1a;
}

ion-header {
  ion-toolbar {
    --background: #007bff; // Biru utama
    --color: #ffffff;

    ion-title {
      font-weight: bold;
      font-size: 20px;
    }

    ion-back-button {
      color: #ffffff;
    }
  }
}

ion-content {
  --background: #ffffff;

  ion-list {
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 123, 255, 0.1);

    ion-item {
      --background: #ffffff;
      --color: #000000;
      --inner-border-width: 0;

      border-bottom: 1px solid #e0e0e0;

      ion-icon {
        color: #007bff;
        font-size: 22px;
      }

      ion-label {
        font-size: 16px;
      }

      ion-toggle {
        --handle-background: #ffffff;
        --handle-background-checked: #ffffff;
        --background: #b0cfff;
        --background-checked: #007bff;
      }

      ion-select {
        --placeholder-color: #999;
        --color: #007bff;
      }

      ion-note {
        color: #007bff;
        font-weight: 500;
      }
    }

    ion-list-header {
      background-color: #ffffff;
      ion-label {
        color: #007bff;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }

  ion-button {
    --background: #dc3545; // Warna merah untuk tombol logout
    --background-activated: #c82333;
    --color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.2);

    ion-icon {
      font-size: 20px;
    }
  }
}

ion-tab-button.active {
  color: var(--ion-color-primary) !important;

  ion-icon,
  ion-label {
    color: var(--ion-color-primary) !important;
  }
}

.footer-wrapper {
  position: relative;
}

.custom-tab-bar {
  background: #ffffff !important;
  --background: #ffffff !important;
  --ion-color-base: #ffffff !important;
  --color: #666 !important;
  --color-selected: #000 !important;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.empty-tab {
  pointer-events: none;
  opacity: 0;
}

.floating-button {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background: none;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
}
.floating-button:active {
  transform: translateX(-50%) scale(0.95);
}

.ticket-bg {
  width: 75px;
  height: 75px;
  background: url('/assets/tab-ticket.png') no-repeat center center;
  background-size: contain;
  transition: box-shadow 0.2s ease-in-out;
}
.floating-button:active .ticket-bg {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ticket-label {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-align: center;
}
