<ion-content class="login-background">
  <div class="login-container">

    <!-- Logo dan teks sejajar -->
    <div class="header">
      <div class="logo-container">
        <img src="assets/logo-rundexo.png" alt="Logo" class="logo-img" />
        <h1 class="app-name">RUNDEXO</h1>
      </div>
      <p class="tagline">Run Your Event Like a Pro</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-section">
        <ion-item lines="none" class="custom-input">
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="loginForm?.get('email')?.touched && loginForm?.get('email')?.errors?.['required']">
          <p class="ion-padding-start">Email wajib diisi</p>
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm?.get('email')?.touched && loginForm?.get('email')?.errors?.['email']">
          <p class="ion-padding-start">Format email tidak valid</p>
        </ion-text>

        <ion-item lines="none" class="custom-input">
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="loginForm?.get('password')?.touched && loginForm?.get('password')?.errors?.['required']">
          <p class="ion-padding-start">Password wajib diisi</p>
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm?.get('password')?.touched && loginForm?.get('password')?.errors?.['minlength']">
          <p class="ion-padding-start">Password minimal 6 karakter</p>
        </ion-text>

        <p class="forgot-password">Lupa password?</p>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="login-button">LOGIN</ion-button>
        </div>

        <p class="register-link">Tidak punya akun? 
          <a routerLink="/register">Register</a>
        </p>
      </div>
    </form>

  </div>
</ion-content>
